# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
.env
utils/Students_Login_Creds.txt
utils/Reset_Pass_creds.txt
utils/New_Registeration_Creds.txt
utils/Forgot_Pass.txt
utils/StudentSkipped.txt
utils/replaceEmail.js
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
